{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h1>Welkom</h1>
             <p>De sportinstelling Training Factory Den Haag wordt binnenkort geopend
                 en biedt de mogelijkheid om op allerlei niveau’s bezig te zijn met vechtsporten.
              Voor jong en oud zijn er lessen boksen, kickboksen en MMA en daarnaast zijn er stootzak trainingen, bootcamps en fitness-uren.</p>
            </div>
    </div>
        <img src="" alt="boxing">
</div>
{% endblock %}