<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Training factory</title>
    <style>
        .subnavbar {
            width: 100vw;
            background-color: #E04C44;
            font-size: 17px;
            padding-top: 10px;
            margin-top: 50px;
            padding-bottom: 5px;
        }

        .subnavbar > ul {
            list-style: none;
        }

        .subnavbar > ul > li {
            display: inline-block;
            color: white;
            padding: 0;
            margin-right: 20px;
        }

        .mybutton {
            padding: 0px 10px 0px 10px;
            border: 1px solid #E04C44;
            color: #E04C44;
        }

        .mybutton:hover {
            border: 1px solid #E04C44;
            background-color: #E04C44;
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Training factory</a>
    </div>
    <div class="navbar-right">
        <button class="btn btn-outline-success mybutton" type="submit">Login</button>
    </div>
</nav>
<div class="subnavbar">
    <ul>
        <li><a>Hoofdpagina</a></li>
        <li><a>Activiteiten</a></li>
        <li><a>Team</a></li>
        <li><a>Inschrijven</a></li>
        <li><a>Contact</a></li>
    </ul>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>